@model gestionFestival.Models.CFestival
@{
    Layout = "~/Views/Shared/headerAdmin.cshtml";
}


<h2>@Model.NomFestival</h2>
<div>
    <p>Le budget actuel du festival est de : @Model.BudgetFestival €</p>
</div>
@using (Html.BeginForm("EnvoyerBudget", "BudgetFestival"))
{
    @Html.Label("Quel montant voulez-vous allouer au festival ?")
    <br />
    @Html.TextBox("budget")
    <span>€</span>
    <br />
    <input type="submit" value="Confirmer" />
    <td><button onclick="">@Html.ActionLink("Annuler", "Index", "GestionPoste")</button></td>
}
<div>
    @ViewBag.message
</div>

