@model gestionFestival.Models.CPoste
@using gestionFestival.Models

@{
    Layout = "~/Views/Shared/headerAdmin.cshtml";
    ViewBag.Title = "ModiferPoste";
}

@using (Html.BeginForm("AssignerPoste", "GestionPoste"))
{
    <fieldset>
        <legend>Assigner le poste</legend>

        <div>
            @Html.Label(Model.NomPoste)
            @Html.Label(" à ")
            @Html.DropDownList("selectResponsable", (SelectList)ViewBag.ListePersonnel)
            <input type="hidden" value="@ViewBag.index" name="index" />
            <br />
            @Html.Label("Description du poste")
            @Html.TextArea("fonction", "", new { @class = "form-control" })
            <br />
            @Html.Label("Salaire")
            @Html.TextBox("Salaire") €

        </div>
        <br />
        <input type="submit" value="Assigner le poste" />
    </fieldset>
}