@model gestionFestival.Models.CPoste
@using gestionFestival.Models

@{
    Layout = "~/Views/Shared/headerAdmin.cshtml";
    ViewBag.Title = "ModiferPoste";
}

@using (Html.BeginForm("AssignerPoste", "GestionPoste"))
{
    <fieldset>
        <legend>Assigner le poste</legend>

        <div>
            @Html.Label(Model.NomPoste)
            @Html.Label(" à ")
            @Html.DropDownList("selectResponsable", (SelectList)ViewBag.ListePersonnel)
            <input type="hidden" value="@Model.Id" name="id" />
            <br />
            @Html.Label("Description du poste")
            <br />
            @Html.TextArea("description", Model.Description, new { @readonly = "readonly" })
            <br />
            @Html.Label("Salaire")
            @Html.TextBox("Salaire",null, new { @required = "required" }) €
            @Html.ValidationMessage("salaire")
        </div>
        <br />
        <input type="submit" value="Assigner le poste" />
    </fieldset>
}