@model gestionFestival.Models.CPoste
@using gestionFestival.Models
@{
    Layout = "~/Views/Shared/headerAdmin.cshtml";
}

<h2></h2>
<div>
    @using (Html.BeginForm("GestionPoste", "GestionPoste"))
    {
        <fieldset>
            <legend>Gestion des postes</legend>

            <div>
                @Html.Label("Nouveau poste")
                @Html.TextBoxFor(model => model.NomPoste)
                @Html.ValidationMessageFor(model => model.NomPoste)
            </div>
            <div>
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description)
            </div>
            <br />
            <input type="submit" value="Ajouter" />
        </fieldset>
    }
</div>
<br />
<div>
    <h3>@ViewBag.message</h3>
</div>
<br />
<div>
    <table>
        <tr><td colspan="4"><h2>Poste a assigner</h2></td></tr>
        @foreach (CPoste liste in ViewBag.listeDesPostesNonAssigne)
        {
            <tr>
                <td>@liste.NomPoste </td>
                <td><button onclick="">@Html.ActionLink("Suppression Poste", "SuppressionPoste", "GestionPoste", new { id = liste.Id, nom = liste.NomPoste, idPers = 0 }, null)</button></td>
                <td><button onclick="">@Html.ActionLink("Assigner le poste", "Responsable", "GestionPoste", new { id = liste.Id }, null)</button></td>
                <td><button onclick="">@Html.ActionLink("Modification", "Poste", "GestionPoste", new { id = liste.Id }, null)</button></td>
            </tr>
        }
    </table>

</div>
<br /><br />
<div>
    <table>
        <tr><td colspan="4"><h2>Poste assigné</h2></td></tr>
        @foreach (CPoste liste in ViewBag.listeDesPostes)
        {
            <tr>
                <td>@liste.NomPoste</td>
                <td>@liste.Responsable.Nom</td>
                <td><button onclick="">@Html.ActionLink("Suppression Poste", "SuppressionPoste", "GestionPoste", new { id = liste.Id, nom = liste.NomPoste, idPers = liste.Responsable.Id }, null)</button></td>
                <td><button onclick="">@Html.ActionLink("Modification", "Poste", "GestionPoste", new { id = liste.Id }, null)</button></td>
            </tr>
        }
    </table>

</div>
