@model gestionFestival.Models.CPoste
@using gestionFestival.Models
@{
    Layout = "~/Views/Shared/headerAdmin.cshtml";
}

<h2></h2>
<div>
    @using (Html.BeginForm("Index", "GestionPoste"))
    {
        <fieldset>
            <legend>Gestion des postes</legend>

            <div>
                @Html.Label("Nouveau poste")
                @Html.TextBoxFor(model => model.NomPoste)
                @Html.ValidationMessageFor(model => model.NomPoste)
            </div>
            <div>
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description)
            </div>
            <br />
            <input type="submit" value="Ajouter" />
        </fieldset>
    }
</div>
<br />
<div>
    <h3>@ViewBag.message</h3>
</div>
<br />
<div>
    <table>
        <tr><td>Poste</td><td>Assigné à</td><td></td><td></td></tr>
        @{int i = 0; }
        @foreach (CPoste liste in ViewBag.listeDesPostes)
        {
            <tr>
                <td>@liste.NomPoste </td>
                <td>nom du responsable</td>
                <td><button onclick="">@Html.ActionLink("Suppression Poste", "SuppressionPoste", "GestionPoste", new { id = i }, null)</button></td>
                <td><button onclick="">@Html.ActionLink("Assigner le poste", "Responsable", "GestionPoste", new { id = i }, null)</button></td>
                <td><button onclick="">@Html.ActionLink("Modification", "Poste", "GestionPoste", new { id = i++ }, null)</button></td>
            </tr>
        }
    </table>

</div>
