@using gestionFestival.Models;
@{
     Layout = "~/Views/Shared/headerAdmin.cshtml";
}



<h2>Gestion des postes</h2>
<div>
    @using (Html.BeginForm("CreerPoste", "GestionPoste"))
    {
        @Html.Label("Nouveau poste")
        <span>  </span>
        @Html.TextBox("poste")
        <br /><br />
        @Html.Label("Description du poste")
        <span>  </span>
        @Html.TextArea("description")
        <br />
        <input type="submit" value="Ajouter" />
    }
</div>
<div>
    @ViewBag.message
</div>
<br /><br /><br /><br />
<div>
    <table>
        <tr><td>Poste</td><td>Assigné à</td><td>Modifier</td><td>Supprimer</td></tr>

        @foreach (CPoste liste in (List<CPoste>)ViewBag.listeDesPostes)
        {
            <tr>
                <td>@liste.NomPoste </td>
                <td>nom du responsable</td>
                @*<td><button onclick="">@Html.ActionLink("Suppression Poste", "SuppressionPoste", "GestionPosteController", new { id = i }, null)</button></td>*@
                @*<td><button onclick="">@Html.ActionLink("Modification", "GetModificationMaterielForm", "Responsable", new { id = i++ }, null)</button></td>*@
            </tr>
        }
    </table>

</div>
