@model gestionFestival.ViewModel.VM_Admin
@using gestionFestival.Models
@{
    Layout = "~/Views/Shared/headerAdmin.cshtml";
}

<h2>Accueil</h2>

<h1>@Model.NomFestival</h1>
<h2>du @Model.DebutFestival.ToString("dd/MM/yyyy") au @Model.FinFestival.ToString("dd/MM/yyyy")</h2>
<p>Budget total du festival : @Model.BudgetFestival</p>
<p>Budget encore disponible : faire fonction</p>

<br /><br />
<div>
    <table>
        <tr><td colspan="4"><h2>Poste(s) assigné(s)</h2></td></tr>
        @foreach (CPoste liste in ViewBag.listeDesPostes)
        {
            <tr>
                <td>@liste.NomPoste</td>
                <td>@liste.Responsable.Nom</td>
            </tr>
        }
    </table>

</div>
<div>
    <table>
        <tr><td colspan="4"><h2>Poste(s) non assigné(s)</h2></td></tr>
        @foreach (CPoste liste in ViewBag.listeDesPostesNonAssigne)
        {
            <tr>
                <td>@liste.NomPoste </td>
            </tr>
        }
    </table>

</div>