@using gestionFestival.Models;
@{
     Layout = "~/Views/Shared/headerAdmin.cshtml";
}



<h2>Gestion des postes</h2>

@using (Html.BeginForm("CreerPoste", "GestionPoste"))
{
    @Html.Label("Nouveau poste")
    <span>  </span>
    @Html.TextBox("poste")
    <input type="submit" value="Ajouter" />
}
@ViewBag.message

<table>
    <thead>Poste</thead><thead>Assigné à</thead>
   
    @foreach(CPoste liste in ViewBag.listeDesPostes)
    {
        <tr>
            <td>@liste.NomPoste </td>
            <td>@liste.Description </td>
            <td></td>
            <td><button type="button">Assigner</button></td>
            <td><button type="button">Modifier</button></td>
            <td><button type="button">Supprimer</button></td>
        </tr>
    }
       
</table>

