@model gestionFestival.Models.CPoste
@using gestionFestival.Models

@{
    Layout = "~/Views/Shared/headerAdmin.cshtml";
    ViewBag.Title = "ModiferPoste";
}

@using (Html.BeginForm("ChangementPoste","GestionPoste"))
{
    <fieldset>
        <legend>Modifer le Poste</legend>

        <div>
            @Html.Label("Nouveau poste")
            @Html.TextBoxFor(model => model.NomPoste)
            @Html.ValidationMessageFor(model => model.NomPoste)
            <br />
            @Html.Label("Description")
            @Html.TextBoxFor(model => model.Description)
            <input type="hidden" value="@ViewBag.id" name="id" />
        </div>
        <div>
            @ViewBag.message
        </div>
        <br />
        <input type="submit" value="Confirmer la modification" />
        <button onclick="">@Html.ActionLink("Annuler", "GestionPoste", "GestionPoste")</button>
    </fieldset>
}