@using gestionFestival.Models
@{ 
    Layout = "~/Views/Shared/headerComptable.cshtml";
    ViewBag.Title = "GestionDemande";

}
    


<h2>@ViewBag.message</h2>
<div>
    <table>
        <tr><td colspan="5"><h2>Gestion des demandes de budgets</h2></td></tr>
        @foreach (CDemande demande in ViewBag.listeDemande)
        {
            <tr>
                <td>@demande.Date.ToString("dd/MM/yyyy")</td>
                <td>@demande.Motif </td>
                <td>(@demande.Montant) €  </td>
                <td><button onclick="">@Html.ActionLink("Accepter", "DemandeDeBudget", "Comptable", new { idDemande = demande.Id, budget = demande.Montant, idPers = demande.IdPersonne  }, null)</button></td>
                <td><button onclick="">@Html.ActionLink("Refuser", "DemandeDeBudget", "Comptable", new { idDemande = demande.Id, budget = demande.Montant, idPers = demande.IdPersonne }, null)</button></td>
            </tr>
        }
    </table>
    
</div>
